snippet wdiv "wrap visual selection with <div>"
<div class="$1">
	${0:${VISUAL: }}
</div>
endsnippet
snippet wspan "wrap visual selection with <span>"
<div class="$1">
	${0:${VISUAL: }}
</div>
endsnippet

snippet wtag "wrap visual selection with <tag>"
<$1 class="$2">
	${0:${VISUAL: }}
</$1>
endsnippet

