snippet wdiv "wrap visual selection with <s>"
<div class="$1">
	${0:${VISUAL: }}
</div>
endsnippet
snippet wspan "wrap visual selection with <span>"
<span class="$1">
	${0:${VISUAL: }}
</span>
endsnippet
snippet wtag "wrap visual selection with <tag>"
<$1 class="$2">
	${0:${VISUAL: }}
</$1>
endsnippet
