
snippet fm "Generate FrontMatter"
---
slug: '/create-quick-backup'
date: '2019-08-09'
updatedDate: '2019-08-09'
title: 'Create quick backup of current file in VIM'
description: 'Pressing Esc key is tiring as the finger has to move to the corner...'
categories: ['vim']
tags: ['vim', 'keymaps']
keywords: ['vim', 'keymap']
banner: './images/banner.png'
---
endsnippet
