snippet cplug "Check for Plugin"

if has_key(g:plugs, '$1')

endif

endsnippet

snippet vimcom "Add Vim Comment"

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => $1
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

endsnippet


snippet acg "Add to general autocommand"
autocmd generalAutoCommand $1
endsnippet
